/* CUSTOM STORY STYLE */

.swiper-slide
  min-height 100vh

#age-slider, .photo-slider
  width 90%
  max-width 600px
  margin 0 auto

.old-user
  display none

.photo-question
  .photo-container
    max-width 600px

.answer-key
  font-size 1rem
  position absolute
  left 0
  top 50%
  display none
  transformY(-50%)
  opacity 0
  .row
    display flex
    .box
      border 1px solid black
      width 10px
      height 10px
      align-self center
