/* CUSTOM STORY STYLE */
body
  background-color $off-white

#wordmark
  path
    fill $dark-navy

#content
  overflow hidden

.down-arrow
  position absolute
  right 1rem
  bottom 1rem
  pointer-events none
  width 3rem
  height 3rem
  display none
  animation updown 3s
  animation-iteration-count infinite

  &.is-visible
    display inline-block

  svg
    width 3rem
    height 3rem
    stroke $youColor

.start-slide
  .logo-wrapper
    position absolute
    top 1rem
    left 1rem
    width 125px
    a
      border none
      img
        border none
  .intro__byline
    position absolute
    color $dark-navy
    right 1rem
    top 1rem
    font-family $national
    font-size .9rem
    margin 0
    @media (max-width: 450px)
      width 120px
      text-align right
      right 1rem
      font-size .8rem

    a
      color $dark-navy
      border-bottom 1px solid $dark-navy  

  .wrapper
    max-width 900px
    margin 0 auto
    display flex
    flex-direction column
    justify-content space-around
    height 100vh
    @media (max-width: 600px)
      justify-content center

  h1
    font-family $tiempos-hed
    color $dark-navy
    set-type-size('xxxx-large', false)
    width calc(100% - 25px)
    margin 0
    line-height 1
    +mq('bp-3')
      set-type-size('xxxxx-large', false)  
    +mq('bp-4')
      set-type-size('med-honker', false)      
  .med-text
    max-width $column-width
    set-type-size('large', true)
    width 100%
    margin 0
    margin-top 2rem
    text-align left
    +mq('bp-3')
      set-type-size('x-large', true)  

  .black-button
    margin 0

.start-slide
  .med-text
    color $youColor
    margin-bottom 1rem

  .wrapper
    padding 0 1rem 

.skip-button
  width 15rem
  font-size 1rem
  border 3px solid $gray-text
  background-color transparent
  max-width 15rem
  height 4rem
  color $gray-text
  padding 1rem
  font-weight 600
  text-transform uppercase
  letter-spacing 1px
  font-family $national
  margin 1rem 0 0 0
  background-repeat no-repeat
  transition background-position .08s ease-out
  background-image linear-gradient(180deg, transparent 0, $gray-text 0)
  background-position -15rem 0
  pointer-events all
  position relative
  transition 0.25s ease-in
  display none
  &:hover
    background-position 0rem 0rem
    color $white
  &.is-visible  
    display block
    +mq('bp-4')
      display inline-block 
  +mq('bp-4')
    margin 0 0 0 1rem 

.black-button, .photo-submit
  width 15rem
  background-repeat no-repeat
  transition background-position .08s ease-out
  background-image linear-gradient(180deg, transparent 0, $dark-navy 0)
  background-position -15rem 0
  pointer-events all
  position relative
  transition 0.25s ease-in
  font-size 1rem
  border 3px solid $dark-navy
  background-color transparent
  max-width 15rem
  height 4rem
  color $dark-navy
  font-family $national
  padding 1rem
  font-weight 600
  text-transform uppercase
  letter-spacing 1px
  margin 0 auto
  margin-top 1rem
  pointer-events auto
  &.is-disabled
    opacity 0.1
    pointer-events none
  &:hover
    background-position 0rem 0rem
    color $white
.photo-submit
  padding 1rem 3rem
  margin 1rem auto 2rem auto

.photo-container
  margin 0 auto
  padding 1.5rem
  background-color $white

.new-user
  display flex
  flex-direction column
  justify-content center
  height 100vh

.med-text
  set-type-size('large', true)
  color $dark-navy
  font-family $national
  font-weight 700
  line-height 1.4
  text-align center
  margin 2rem auto
  +mq('bp-3')
      set-type-size('x-large', true) 

.small-text
  font-family $national
  color $gray-text
  text-align center
  font-size 1rem
  margin 0 auto
  line-height 1.25
  &.bolded
    color $dark-navy
    font-weight 700
    margin-bottom 0.75rem
  @media (max-width: 450px)
    width calc(100% - 6rem)
    margin-left auto
    margin-right auto
  span
    display inline-block
    width 30px
    svg
      width 100%
      fill $gray-dark
      transform translateY(7px)

.swiper-wrapper
  .swiper-slide
    min-height 100vh
    height 100vh
    display flex
    flex-direction column
    justify-content space-around
    height 100vh
    padding 2rem 1rem 0 1rem
    &.photo-question
      height 90vh
      min-height 90vh


#age-slider, .photo-slider
  width calc(100% - 4rem)
  max-width 600px
  margin 3rem auto

.photo-slider
  margin-bottom 3rem
  @media (max-width: 600px)
    margin-top 2rem
    margin-bottom 1.5rem
.old-user
  display none

.photo-question
  justify-content center
  .photo-container
    max-width 460px
    box-shadow 0 0 9px 4px rgb(229,229,229,.55)
    +mq('bp-5')
      max-width 600px

.answer-key
  font-size .9rem
  position absolute
  margin 0 auto
  display flex
  top 0
  left 0
  right 0
  transform translate(0,0)
  justify-content center
  margin-top 1rem
  transform translateY(-50%)
  opacity 0
  font-family $national
  color #B6B6B6
  +mq('bp-5')
    position absolute
    top 50%
    left 1rem
    display block

  .row
    display flex
    margin-bottom 0
    margin-top 1rem
    +mq('bp-5')
      margin-bottom 0.5rem
    .count
      display none
      font-size .9rem
      color $gray-text
      margin 0
      line-height 28px
      +mq('bp-5')
        display flex
    .box
      border 1px solid #B6B6B6
      align-self center
      width 40px
      height 30px
      margin-right .5rem
    .filled-in
      text-align center
      background-color $gray-xlight
      color #565656
      font-size 14px
      line-height 28px
      font-family $national
    .active
      border 3px solid $dark-navy
    .active-count
      font-weight 700
      color $dark-navy  

.noUi-pips
  padding 0
  height 30px
  top 0
  .noUi-value-horizontal
    top 17px
    position absolute
    transform translate(-50%,0)
    font-family $national
    color $gray-text
    set-type-size('small', true)
    color $gray-text
  .noUi-marker-large
    background $dark-navy
    width 1px
  .noUi-marker-normal
    background $gray-light
    width 1px
    height 10px

.noUi-target
  box-shadow none
  border none
  background none
.noUi-horizontal .noUi-handle
  height 55px
  width 55px
  top -18px
  box-shadow 0 0 9px 4px rgb(229,229,229,.75)

.noUi-handle
  background #FB431E
  font-family $national
  box-shadow none
  border none
  border-radius 50%
  border 3px solid white
  &:hover
    cursor grab
  &:before, &:after
    display none
  .noUi-tooltip
    color white
    border none
    transform translate(0,-50%)
    top 50%
    left 0
    right 0
    background none
    padding 0
    margin 0
    font-weight 900
    text-align center
    font-size 1.5rem
    line-height 1.5
    height 37px
.noUi-active
  cursor grabbing
  &:hover
    cursor grabbing

.photo-answer
  max-width 860px
  //border-top 1px solid $gray-light
  //padding-top 2rem
  width 100%
  margin 0 auto 2rem auto
  +mq('bp-4')
    margin 0rem auto 8rem auto
  .photo-answer-row-wrapper
    .photo-answer-row
      display flex

      .photo-answer-slider-container
        width 1px
        flex-grow 1
        position relative
        height 130px
        pointer-events none
        .actual-bar
          width 2px
          height 100%
          background $dark-navy
          position absolute
          top 0
          .actual-bar-background
            position absolute
            top -8.7rem
            left 0
            right 0
            margin 0 auto
            transform translate(0,100%)
            width 120px
            background $off-white
            height 68px

          .actual-bar-info
            font-family $national
            font-size 12px
            position absolute
            top -6rem
            left 0
            right 0
            margin 0 auto
            transform translate(0,100%)
            width 60px
            +mq('bp-4')
              width 130px

            p
              margin 0
              text-align center
              set-type-size('small', true)
              transform translate(-50%,0)
              color $gray-text
              font-family $national
              line-height 1.3
              text-shadow 0 0 0 $off-white, -1px 0 0 $off-white, 1px 1px 0 $off-white, 1px -1px 0 $off-white, 0 1px 0 $off-white, 1px 0 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white
              &:first-of-type
                font-weight 600
                font-family $national
                color $dark-navy
                set-type-size('root', true)
                line-height 1.3


        .photo-answer-slider
          width 100%
          margin-top 50px
          .noUi-value-horizontal
            font-weight 300
          .dot-wrapper, .faded-dots-wrapper
            position absolute
            top 0
            left 0
            width 100%
            .faded-dot
              width 10px
              height 10px
              background rgba($gray, 0.75)
              position absolute
              border-radius 50%
              opacity .5
              z-index 10
            .dot-big
              width 1.5rem
              height 1.5rem
              background $avgColor
              top -7px
              position absolute
              border-radius 50%
              box-shadow 0 0 9px 4px rgb(229,229,229,.55)
              border 3px solid white
              z-index 100000
              p
                font-family $national
                set-type-size('root', true)
                position absolute
                top -8px
                left 50%
                transform translate(-50%,-100%)
                color $youColor
                margin 0
                width 80px
                text-align center
                line-height 1.1
                text-shadow -1px 2px 0 $off-white, 1px 2px 0 $off-white, 2px -1px 0 $off-white, 1px -2px 0 $off-white, 2px 1px 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, 0 0 0 white, -1px 0 0 $off-white, 1px 1px 0 $off-white, 1px -1px 0 $off-white, 0 1px 0 $off-white, 1px 0 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, -2px 0 0 $off-white, 2px 2px 0 $off-white, 2px -2px 0 $off-white, 0 2px 0 $off-white, 2px 0 0 $off-white, -2px -2px 0 $off-white, 0 -2px 0 $off-white
                span
                  display block
                  font-weight 600

              &:before
                content ''
                font-family $national
                font-size 12px
                position absolute
                top -8px
                left 50%
                transform translate(-50%,-100%)

            .dot-you
              background $youColor
              &:before
                content ''
            .dot-avg
              width 1.5rem
              height 1.5rem
              top -7px
              p
                top auto
                bottom -8px
                transform translate(-50%,100%)
                color $avgColor
                text-shadow -1px 2px 0 $off-white, 1px 2px 0 $off-white, 2px -1px 0 $off-white, 1px -2px 0 $off-white, 2px 1px 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, 0 0 0 $off-white, -1px 0 0 $off-white, 1px 1px 0 $off-white, 1px -1px 0 $off-white, 0 1px 0 $off-white, 1px 0 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, -2px 0 0 $off-white, 2px 2px 0 $off-white, 2px -2px 0 $off-white, 0 2px 0 $off-white, 2px 0 0 $off-white, -2px -2px 0 $off-white, 0 -2px 0 $off-white






          .noUi-handle
            display none
      &:first-of-type
        .photo-answer-slider-container
          padding-bottom 8rem
          height 1px
          +mq('bp-X')
            height auto

    .bw-row .photo-answer-text-wrapper      
      &:before
        background-image url('assets/images/eye.png')
        background-size 1rem 1rem
        width 1rem
        height 1rem
        content ''
        display inline-block
        position relative
        background-repeat no-repeat
        margin-right .25rem
        top .125rem

    .photo-answer-text-wrapper
      width 140px
      font-family $national
      margin 0
      margin-left 3rem
      position relative
      order 3
      align-self center
      font-size 1rem
      color $dark-navy
      line-height 1.3
      span
        font-weight 600
        text-transform uppercase

      p
        margin 0
        font-size 1rem
        color #676767
        position relative
        .button
          position relative
          display inline-block
          padding-left 25px
          padding-right 8px
          background rgba(26,89,244,.14)
          font-weight 600
          text-transform uppercase
          font-size 12px
          border-radius 3px
          line-height 1.2rem
          color #1341b3
          border 1px solid rgba(26,89,244,.2)
          &:before
            content ''
            width 9px
            height 9px
            border-radius 4px
            position absolute
            left 4px
            top 3px
            background $avgColor
            border-radius 50%
            border 2px solid white
            transform translate(0,0)
        .you-button
          color #bf2200
          background-color rgba(251,68,29,.21)
          border-color rgba(251,68,29,.29)
          &:before
            background $youColor
        //span
          //font-weight 300
          //color black
    .photo-answer-photo
      width 180px
      height 130px
      padding 10px
      box-shadow 0px 4px 10px rgba(229, 229, 229, 0.75)
      margin-right 3rem
      background-repeat no-repeat
      background-size 85%
      background-position center center
      position relative
      &:after
        content 'Black & White, Digitally Altered'
        position absolute
        bottom -8px
        left 0
        font-family $national
        text-align center
        width 100%
        transform translate(0,100%)
        set-type-size('small', true)
        font-weight 400
        color $gray-text
    .color-version
      &:after
        content 'Color, Original'
  .photo-answer-title-wrapper
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid $gray-xlight
    margin-bottom 2.5rem
    padding-bottom .25rem
    @media (max-width: 750px)
      margin-bottom .5rem
    .photo-answer-title
      font-family $national
      margin 0
      font-weight 700
      color $dark-navy
      set-type-size('medium', true)
      +mq('bp-4')
        set-type-size('x-large', true)
    .photo-answer-key
      display flex
      align-self center
      .photo-answer-key-box
        border 1px solid $gray-light
        width 20px
        height 15px
        margin-right 5px
      .photo-answer-key-box-active
        border 3px solid $dark-navy

.photo-answer
  .photo-answer-row-wrapper
    @media (max-width 750px)
      display flex
      justify-content space-between
      min-height 80vh
      .photo-answer-row
        width calc(50% - 12.5px)
        flex-direction column
        &:first-of-type
          .photo-answer-slider-container
            padding 0
        .photo-answer-photo
          width  100%
          height auto
          padding-bottom calc(50% + 16%)
          margin 0 auto
        .photo-answer-slider-container
          width 100%
          height 1px
          flex-grow 1
          margin-top 5rem
          margin-bottom 2rem
          .actual-bar
            width 100%
            height 2px
            .actual-bar-info, .actual-bar-background
              top 0
              left -1rem
              transform translate(-50%,0%)
              right auto
              p
                transform translate(0%, -50%)
                color $dark-navy
                text-shadow -1px 2px 0 $off-white, 1px 2px 0 $off-white, 2px -1px 0 $off-white, 1px -2px 0 $off-white, 2px 1px 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, 0 0 0 $off-white, -1px 0 0 $off-white, 1px 1px 0 $off-white, 1px -1px 0 $off-white, 0 1px 0 $off-white, 1px 0 0 $off-white, -1px -1px 0 $off-white, 0 -1px 0 $off-white, -2px 0 0 $off-white, 2px 2px 0 $off-white, 2px -2px 0 $off-white, 0 2px 0 $off-white, 2px 0 0 $off-white, -2px -2px 0 $off-white, 0 -2px 0 $off-white
                &:last-of-type
                  width 60px
                  margin 0 auto
                  transform translate(0%,-10px)
                  line-height 1

            .actual-bar-background
              display none
          .photo-answer-slider
            margin 0 auto
            height 100%
            .dot-wrapper
              height 100%
              width auto
              left 50%
              z-index 10000
              transform translate(-50%,0)
              .dot-big
                transform translate(-50%,0)
                p
                  transform translate(100%,-50%)
                  bottom auto
                  top 50%
                  left auto
                  right -8px
                  text-align left
              .dot-you
                p
                  transform translate(-100%,-50%)
                  bottom auto
                  top 50%
                  left -8px
                  right auto
                  text-align right


            .faded-dots-wrapper
              height 100%
              .faded-dot
                transform translate(-50%,0)

            .noUi-pips
              height 100%
              left 50%
              width 55px
              transform translate(-50%,0)
              .noUi-marker-normal
                width 60px
                height 1px
              .noUi-marker-large
                width 60px
                height 1px
              .noUi-value-vertical
                transform translate(-100%,-50%)
                font-family $national
                left -5px
                set-type-size('small', true)

      .photo-answer-text-wrapper
        height auto
        min-height 110px
        width 100%
        margin 0 auto
        align-self center
        @media (max-width 400px)
          font-size .9rem



//.start-slide, .photo-question, .age-slide
  //display none !important
//.all-done
  //height auto !important


.text-wrapper-end
  h5
    max-width $column-width
    margin 0 auto
    font-family $national
    font-weight 700
    set-type-size('large', true)
    margin-bottom 1rem

  p
    max-width $column-width
    margin 0 auto
    margin-bottom 1.5rem
    font-family $tiempos
    font-size 1.2rem
    @media (max-width: 750px)
      font-size 1rem

    a
      &:hover  
        color $gray
        border-bottom 1px solid $gray

  .notes
    font-family $national 
    set-type-size('root', true) 

.before-footer
  margin-bottom 8rem



.all-done
  .header-text
    set-type-size('xxxx-large', false)
    max-width $column-width
    font-family $tiempos-hed
    width 100%
    margin 0 auto
    font-weight 600
    //margin-bottom 2rem
    //padding-top 2rem
    color $dark-navy
    +mq('bp-3')
      set-type-size('xxxxx-large', false)  
    +mq('bp-4')
      set-type-size('med-honker', false)   
  .photo-answer-wrapper
    margin-top 4rem

    h5
      max-width $column-width
      font-family $national
      set-type-size('x-large', true)
      margin 3rem auto 2rem auto
      +mq('bp-4')
        set-type-size('xx-large', true)

.first-set
  p
    color $dark-navy
    &:last-of-type
      font-family $national
      set-type-size('x-large', true)
      margin-top 3rem
      +mq('bp-4')
        set-type-size('xx-large', true)

.yourColorspace, .otherColorspace
  font-weight 700

.youMarker
  color $youColor
  font-weight 700
  &:before
    content ''
    width 1rem
    height 1rem
    position relative
    left 0
    top .25rem
    border-radius 50%
    border 3px solid white
    display inline-block
    background-color $youColor
    box-shadow 0 0 9px 4px rgb(229,229,229,.75)
    margin-right .25rem
    +mq('bp-4')
      width 1.25rem
      height 1.25rem
      top .125rem
      margin-right .5rem



// ANIMATIONS

.noUi-handle
  animation shake 1s
  animation-iteration-count infinite

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(-1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes updown {
	0%, 20%, 50%, 80%, 100% { 
    transform: translateY(0)
    }
  40% { transform: translateY(-0.75rem) }
	60% { transform: translateY(-0.5rem) }
}	

// PHOTO INTRO

.photo-bg
  width 100%
  height 100vh
  position absolute
  z-index 0
  opacity 0.1 

  .grid
    pointer-events none
    position absolute
    width 100%
    height 100%
    top -5%
    left -5%
    display grid
    grid-template-columns repeat(50,2%)
    grid-template-rows repeat(50,2%)

    .grid__item
      position relative

      .grid__item-img
        position relative
        width 100%
        height 100%
        background-size cover
        background-position: 50% 50%
        //opacity 0.25 

    .pos-1
      grid-area 10 / 1 / 26 / 7

      .grid__item-img
        background-image url('assets/images/photo1_bw.jpg')

    .pos-2
      grid-area 1 / 18 / 9 / 27

      .grid__item-img
        background-image url('assets/images/photo2_bw.jpg')   

    .pos-3
      grid-area 1 / 36 / 14 / 42

      .grid__item-img
        background-image url('assets/images/photo3_bw.jpg')

    .pos-4
      grid-area 13 / 11 / 32 / 18

      .grid__item-img
        background-image url('assets/images/photo4_bw.jpg') 

    .pos-5
      grid-area 17 / 32 / 32 / 38

      .grid__item-img
        background-image url('assets/images/photo5_bw.jpg')

    .pos-6
      grid-area 20 / 46 / 28 / 51

      .grid__item-img
        background-image url('assets/images/photo6_bw.jpg')

    .pos-7
      grid-area 43 / 1 / 51 / 10

      .grid__item-img
        background-image url('assets/images/photo7_bw.jpg')

    .pos-8
      grid-area 38 / 14 / 46 / 22

      .grid__item-img
        background-image url('assets/images/photo8_bw.jpg')  

    .pos-9
      grid-area 40 / 26 / 51 / 32

      .grid__item-img
        background-image url('assets/images/photo9_bw.jpg')

    .pos-10
      grid-area 37 / 39 / 48 / 47

      .grid__item-img
        background-image url('assets/images/photo10_bw.jpg')                       
                    

