<div class='intro'>

	<div class="quiz">
		<div class="answer-key">
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">

				<div class="swiper-slide start-slide">

					<h1 class='big-text'>This is an experiment about how we view history.</h1>
					<p class='med-text'>We’re going to show you a series of photos and ask you how long ago each picture was taken. </p>
					<p class='intro__byline'>By
						<a href='/author/matt-daniels/' target='_blank'>
							<strong>Matt Daniels</strong>
						</a> &
						<a href='/author/jan-diehm' target='_blank'>
							<strong>Jan Diehm</strong>
						</a>
					</p>

					<button class="black-button">Ok. Let&rsquo;s do this
					</button>

				</div>

				<div class="swiper-slide age-slide before-quiz-begins">
					<div class="new-user">
						<p class="big-text">First, what year were you born?</p>
						<p class="med-text">Use the slider below. (This is how you’ll date the photos too.)</p>

						<div id="age-slider">

						</div>

						<button class="black-button">Start the quiz
						</button>

					</div>
					<div class="old-user">
						<div class="old-top">
							<p class="med-text">Looks like you have been here before. Is your birth year still <span class="old-bday"></span>?</p>
							<div class="decades">
								<div class="decade grey-button">I was born in <span class="old-bday"></span>
								</div>
							</div>
						</div>
						<div class="old-bottom">
							<div class="med-text">Actually, I was born in the...
							</div>
							<div class="decades">
								<div class="decade grey-button">2010s
								</div>
								<div class="decade grey-button">2000s
								</div>
								<div class="decade grey-button">1990s
								</div>
								<div class="decade grey-button">1980s
								</div>
								<div class="decade grey-button">1970s
								</div>
								<div class="decade grey-button">1960s
								</div>
								<div class="decade grey-button">1950s
								</div>
								<div class="decade grey-button">1940s
								</div>
								<div class="decade grey-button">1930s
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="swiper-slide photo-question quiz-begins">
					<p>How many years ago was this photo taken?</p>
					<div class="photo-container">
					</div>
					<div class="photo-slider">
					</div>
					<button class="photo-submit" type="button" name="button">Submit</button>
				</div>

				<div class="swiper-slide photo-question">
					<p>How many years ago was this photo taken?</p>
					<div class="photo-container">
					</div>
					<div class="photo-slider">
					</div>
					<button class="photo-submit" type="button" name="button">Submit</button>
				</div>



			</div>
		</div>
	</div>

</div>
